body {
    background-color: rgb(200, 232, 245);
}

ul {
    display: inline-flex;
    justify-content: end;
    align-items: center;
}

li {
    list-style: none; 
    margin: 10px;
    padding: 10px;
    border: 2px solid;
    background-color: aqua;
    color: white;
    border-radius: 10%;
}

img {
    border-radius: 50%;
}
.c1 {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;


}