* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4e5df2;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1em;
}

header input {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}

aside {
    background-color: #333;
    color: white;
    padding: 2em;
    width: auto;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;

}

aside .profile {
    margin-bottom: 2em;
}

aside nav a {
    display: block;
    color: white;
    margin: 1em 0;
    text-decoration: none;
}

main {
    margin-left: 220px;
    padding: 2em;
    margin-top: 60px;
    flex: 1;

}

.dashboard-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-bottom: 2em;
    padding: 10px;
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6,
#card7,
#card8,
#card9 {
    background-color: #6a75f2;
    color: white;
    padding: 1em;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.chart-container {
    width: 100%;
    max-width: 400px;
    padding: 1em;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: none;
    margin-top: 1em;
}


footer {
    background-color: #4e5df2;
    color: white;
    text-align: center;
    padding: 1em;
}

.chart-wrapper {
    align-items: center;
    margin-bottom: 1em;
}

.chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .chart-wrapper {
        display: none; /* Hide elements when the screen is large */
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .chart-wrapper {
        display: flex; /* Display elements when the screen is small */
        flex-direction: column;
    }
}



#last,
#start {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #f0f0f0;
    color: black;
    text-align: center;
}

.chart-wrapper .chart-container button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px;  
    margin-top: 10px;  
}

#hidden-content {
    display: none; /* Hidden state at first */
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; 
  }

  #hidden-content h2 {
    color: #007BFF; 
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

#hidden-content h3 {
    font-size: 1.4rem;
    color: #444;
    margin-top: 20px;
    margin-bottom: 10px;
}

#hidden-content p {
    line-height: 1.8;
    font-size: 1rem;
    margin-bottom: 10px;
}

#hidden-content strong {
    color: #007BFF;  
    font-weight: bold;
}

 
.indicator-list {
    margin-top: 10px;
    padding: 10px 20px;
    border-left: 4px solid #007BFF;  
    background-color: #eef7ff;  
    border-radius: 5px;
}

.indicator-list p {
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around; /* This will space the cards evenly */
}

.card {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 20px); /* Subtract the margin from the width for proper spacing */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 800px) {
    .card {
        width: calc(50% - 20px); /* On smaller screens, switch to 2 columns */
    }
}